In [2]:
print('"hola mundo"')

"hola mundo"

In [ ]:
numero = 12

if numero > 5:
    print('Es mayor que 5')
else:
    print("Es menor que 5")

Es mayor que 5

In [16]:
import math

In [18]:
math.pi

3.141592653589793

In [ ]:
my_list = [1,2.1545,3, 'orlando', True]
print(my_list[3])

my_list[3] = 'miguelon'
print(my_list[3])

orlando
miguelon

In [66]:
import pandas as pd

pd.read_excel('./DataFiles/Hungarian_Switzerland.xlsx')

,Unnamed: 0,age,sex,Chest pain type,resting blood pressure,serum cholestoral,fasting blood sugar,Resting EEG,maximum heart rate,exercise induced angina,ST depression,slope ST,number of major vessels,thal,diagnosis of heart disease
0,Patient 1,28,1,2,130,132,0,2,185,0,0.0,?,?,?,0
1,Patient 2,29,1,2,120,243,0,0,160,0,0.0,?,?,?,0
2,Patient 3,29,1,2,140,?,0,0,170,0,0.0,?,?,?,0
3,Patient 4,30,0,1,170,237,0,1,170,0,0.0,?,?,6,0
4,Patient 5,31,0,2,100,219,0,1,150,0,0.0,?,?,?,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,Patient 290,52,1,4,160,331,0,0,94,1,2.5,?,?,?,1
290,Patient 291,54,0,3,130,294,0,1,100,1,0.0,2,?,?,1
291,Patient 292,56,1,4,155,342,1,0,150,1,3.0,2,?,?,1
292,Patient 293,58,0,2,180,393,0,0,110,1,1.0,2,?,7,1
293,Patient 294,65,1,4,130,275,0,1,115,1,1.0,2,?,?,1