# Importar y unificar los datos

## Importar librerías

In [2]:
print('Prueba')

Prueba

In [3]:
import pandas as pd
import numpy as np

### Archivo xlsx

In [4]:
df_xlsx = pd.read_excel('./DataFiles/Hungarian_Switzerland.xlsx')
df_xlsx.head()

,Unnamed: 0,age,sex,Chest pain type,resting blood pressure,serum cholestoral,fasting blood sugar,Resting EEG,maximum heart rate,exercise induced angina,ST depression,slope ST,number of major vessels,thal,diagnosis of heart disease
0,Patient 1,28,1,2,130,132,0,2,185,0,0.0,?,?,?,0
1,Patient 2,29,1,2,120,243,0,0,160,0,0.0,?,?,?,0
2,Patient 3,29,1,2,140,?,0,0,170,0,0.0,?,?,?,0
3,Patient 4,30,0,1,170,237,0,1,170,0,0.0,?,?,6,0
4,Patient 5,31,0,2,100,219,0,1,150,0,0.0,?,?,?,0

In [5]:
df_xlsx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   294 non-null    object
 1   age                          294 non-null    int64
 2   sex                          294 non-null    int64
 3   Chest pain type              294 non-null    int64
 4   resting blood pressure       294 non-null    object
 5   serum cholestoral            294 non-null    object
 6   fasting blood sugar          294 non-null    object
 7   Resting EEG                  294 non-null    object
 8   maximum heart rate           294 non-null    object
 9   exercise induced angina      294 non-null    object
 10  ST depression                294 non-null    float64
 11  slope ST                     294 non-null    object
 12  number of major vessels      294 non-null    object
 13  thal                         294 non-null    object
 14  diagnosis of heart disease   294 non-null    int64
dtypes: float64(1), int64(4), object(10)
memory usage: 34.6+ KB

Parece que los nombres de columnas tienen espacios al final de la string,
Se corregiran y se tomaran como los nombres para el resto de datasets.

Dejaremos la primera columna *Unnamed: 0*, posteriormente se eliminará

In [6]:
columnas = list(df_xlsx.columns)

columnas = list(map(lambda x: x.strip(), columnas)) 

df_xlsx.columns = columnas

In [7]:
df_xlsx.head(3)

,Unnamed: 0,age,sex,Chest pain type,resting blood pressure,serum cholestoral,fasting blood sugar,Resting EEG,maximum heart rate,exercise induced angina,ST depression,slope ST,number of major vessels,thal,diagnosis of heart disease
0,Patient 1,28,1,2,130,132,0,2,185,0,0.0,?,?,?,0
1,Patient 2,29,1,2,120,243,0,0,160,0,0.0,?,?,?,0
2,Patient 3,29,1,2,140,?,0,0,170,0,0.0,?,?,?,0

In [8]:
print('Nombres de columna: ')
columnas

Nombres de columna:

['Unnamed: 0',
 'age',
 'sex',
 'Chest pain type',
 'resting blood pressure',
 'serum cholestoral',
 'fasting blood sugar',
 'Resting EEG',
 'maximum heart rate',
 'exercise induced angina',
 'ST depression',
 'slope ST',
 'number of major vessels',
 'thal',
 'diagnosis of heart disease']

Removeremos la primera columan correspondiente a ID del paciente, debido a que este se repite entre cada archivo.
Dejaremos que pandas se encargue de asignar indices.

In [9]:
df_xlsx['age'].value_counts()

age
54    25
48    19
52    17
49    15
55    15
46    13
53    12
43    12
50    12
41    11
39    11
56    10
47    10
51     9
58     9
45     8
59     8
37     8
40     7
42     7
38     7
44     7
57     5
36     5
35     5
34     4
32     4
65     3
29     2
33     2
61     2
62     2
31     2
60     2
30     1
28     1
63     1
66     1
Name: count, dtype: int64

In [10]:
# df_xlsx = df_xlsx.drop('Unnamed: 0', axis=1)
# df_xlsx.head(3)

### Archivo PDF

In [11]:
import pdfplumber

df_pdf = pd.DataFrame(columns=columnas)    



with pdfplumber.open("./DataFiles/LongBeachData.pdf") as pdf:

    primera_tabla = True
    columnas_tabla = []


    for page in pdf.pages:
        # Extrae las tablas de la página actual
        tablas_pagina = page.extract_tables()

        for tabla in tablas_pagina:

            if primera_tabla:
                df = pd.DataFrame(tabla[1:], columns=columnas) # el primer renglon son los registros 
                columnas_tabla = columnas
                # df_pdf.columns = list(columnas_tabla)
                primera_tabla = False
            else:
                df = pd.DataFrame(tabla[0:], columns=columnas_tabla)

            df_pdf = pd.concat([df_pdf, df]) # aqui acumulamos las tablas

In [12]:
df_pdf

,Unnamed: 0,age,sex,Chest pain type,resting blood pressure,serum cholestoral,fasting blood sugar,Resting EEG,maximum heart rate,exercise induced angina,ST depression,slope ST,number of major vessels,thal,diagnosis of heart disease
0,Patient 1,63,1,4,140,260,0,1,112,1,3,2,?,?,2
1,Patient 2,44,1,4,130,209,0,1,127,0,0,?,?,?,0
2,Patient 3,60,1,4,132,218,0,1,140,1,1.5,3,?,?,2
3,Patient 4,55,1,4,142,228,0,1,149,1,2.5,1,?,?,1
4,Patient 5,66,1,3,110,213,1,2,99,1,1.3,2,?,?,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,Patient 196,54,0,4,127,333,1,1,154,0,0,?,?,?,1
5,Patient 197,62,1,1,?,139,0,1,?,?,?,?,?,?,0
6,Patient 198,55,1,4,122,223,1,1,100,0,0,?,?,6,2
7,Patient 199,58,1,4,?,385,1,2,?,?,?,?,?,?,0
8,Patient 200,62,1,2,120,254,0,2,93,1,0,?,?,?,1

### Archivo .data

In [13]:
df_data = pd.read_csv('./DataFiles/processed.cleveland.data', names=columnas[1:])
df_data

,age,sex,Chest pain type,resting blood pressure,serum cholestoral,fasting blood sugar,Resting EEG,maximum heart rate,exercise induced angina,ST depression,slope ST,number of major vessels,thal,diagnosis of heart disease
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
302,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,?,3.0,0

## Unificar datasets

In [14]:
df_xlsx.drop('Unnamed: 0', axis=1)

,age,sex,Chest pain type,resting blood pressure,serum cholestoral,fasting blood sugar,Resting EEG,maximum heart rate,exercise induced angina,ST depression,slope ST,number of major vessels,thal,diagnosis of heart disease
0,28,1,2,130,132,0,2,185,0,0.0,?,?,?,0
1,29,1,2,120,243,0,0,160,0,0.0,?,?,?,0
2,29,1,2,140,?,0,0,170,0,0.0,?,?,?,0
3,30,0,1,170,237,0,1,170,0,0.0,?,?,6,0
4,31,0,2,100,219,0,1,150,0,0.0,?,?,?,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,52,1,4,160,331,0,0,94,1,2.5,?,?,?,1
290,54,0,3,130,294,0,1,100,1,0.0,2,?,?,1
291,56,1,4,155,342,1,0,150,1,3.0,2,?,?,1
292,58,0,2,180,393,0,0,110,1,1.0,2,?,7,1
293,65,1,4,130,275,0,1,115,1,1.0,2,?,?,1

In [15]:
print(f'Forma de dataset xlsx: {df_xlsx.shape}')
print(f'Forma de dataset pdf : {df_pdf.shape}')
print(f'Forma de dataset data: {df_data.shape}')

Forma de dataset xlsx: (294, 15)
Forma de dataset pdf : (200, 15)
Forma de dataset data: (303, 14)

In [16]:
df_completo = pd.concat( [df_xlsx.drop('Unnamed: 0', axis=1),
            df_pdf.drop('Unnamed: 0', axis=1),
            df_data     
        ], ignore_index=True)

df_completo

,age,sex,Chest pain type,resting blood pressure,serum cholestoral,fasting blood sugar,Resting EEG,maximum heart rate,exercise induced angina,ST depression,slope ST,number of major vessels,thal,diagnosis of heart disease
0,28,1,2,130,132,0,2,185,0,0.0,?,?,?,0
1,29,1,2,120,243,0,0,160,0,0.0,?,?,?,0
2,29,1,2,140,?,0,0,170,0,0.0,?,?,?,0
3,30,0,1,170,237,0,1,170,0,0.0,?,?,6,0
4,31,0,2,100,219,0,1,150,0,0.0,?,?,?,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
792,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
793,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
794,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
795,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
796,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,?,3.0,0

In [17]:
df_completo.to_csv('./DataFiles/enfermedad_cardiaca.csv')